<div class="col-sm-4 good-knowledge knowledge-content">
	<h4>Serious skills and knowledge</h4>
	<p>I've failed and success projects using these technologies. A lot of experince and I know the bad and the good things related with them.</p>
	<ul class="text-success-light">
		<li>JavaScript and jQuery</li>
		<li>HTTP / AJAX / Async Programming</li>
		<li>PHP</li>
		<li>HTML5 / CSS3</li>
	</ul>
</div>
<div class="col-sm-4 normal-knowledge knowledge-content">
	<h4>Skills and knowledge</h4>
	<p>I've practice and experince. I know the way they work, how to use them correctly, but I have to learn a bit more.</p>
	<ul class="text-primary-light">
		<li>AngularJS / Node.js (express) / Template engines</li>
		<li>Laravel 4 / MySQL / MSSQL</li>
		<li>OOP / JavaScript OOP</li>
		<li>Promises</li>
		<li>Prototype Chain</li>
		<li>RESTful API / CRUD</li>
		<li>Using and understanding MVC</li>
		<li>Git</li>
		<li>Photoshop (using masks, layers, paths, FX, etc..)</li>
		<li>Twitter Bootstrap</li>
	</ul>
</div>
<div class="col-sm-4 little-knowledge knowledge-content">
	<h4>Little skills and knowledge</h4>
	<p>I've used these technologies for a while. I know the basics.</p>
	<ul class="text-muted-light">
		<li>C# / ASP.NET</li>
		<li>Unit testing</li>
		<li>Singleton</li>
		<li>Dependency injection</li>
		<li>Python</li>
		<li>Linux administration</li>
	</ul>
</div>