<div class="col-xs-12">
	<h3>
		Motivation
	</h3>
	<p>
		My motivation is focused in web development and mobile development. I want to work / make <strong>cross-platform</strong> flexible applications / systems. Since now the JavaScript is so common, it helps a lot.
	</p>
	<p>
		I'm highly interested in learning new JavaScript frameworks/libraries, TypeScript, CSS preprocessors and Dart Language.
	</p>
	<p>
		I like to write server-side logic too. I'm familiar with some security issues as <strong>SQL Injection</strong> and <strong>Cross-site scripting (XSS)</strong>. <br/>
		I'm not best in databases, but I'm highly motivated and less experienced in developing server-side services such as <strong>RESTful APIs</strong> and <strong>CRUD operations</strong>. And I'm already made ORM with Laravel 5.
	</p>
	<p>
		I know it will take long time, but one day I will become a web engineer!
	</p>
</div>