<div class="col-sm-10 col-sm-offset-1 row">
	<div class="col-xs-12 text-center pad-top-40">
		<h4>Here is some of my work</h4>
	</div>
	<div class="col-xs-12 row work-item-row">
		<div class="col-sm-4 col-xs-12 link-wrapper">
			<a href="http://zexplorer.tk" target="_blank" class="link-image row">
				<img src="images/zexplorer-prew.png" class="img-responsive col-xs-12 work-link-img">
				<span class="link-image-text text-danger-light">Uptime not guaranteed.<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="This web application is hosted on my personal PC. Uptime is not guaranteed"></span></span>
			</a>
		</div>
		<div class="col-sm-8 col-xs-12 resume-wrapper">
			<h4>Zexplorer (It may be offline now)</h4>
			<p>
				Zamunda torrent explorer web application. Optimized for mobile devices. <br>
				Since zamunda.net is quite PHP based, it provide already filled HTML templates. With the aid of jQuery and cheerio (jQuery core integrated for node.js), I extracting the needed data from the zamunda.net HTMLs to provide main services. <br>
				This application is alpha version yet. I am currently working on it. <br><br>
			</p>
			<p>
				Used technologies: <br>
				Server: Node.js (0.10.x) + express 4 <br>
				Client: AngularJS + Angular Material + jQuery(full version). <br>
			</p>
		</div>	
	</div>
	<div class="col-xs-12 row work-item-row">
		<div class="col-sm-4 col-xs-12 link-wrapper">
			<a href="http://linkedhouse-ifch0o1webapps.rhcloud.com" target="_blank" class="link-image row">
				<img src="images/linkedhouse-prew.png" class="img-responsive col-xs-12 work-link-img">
				<span class="link-image-text text-danger-light">Redhat changed the infrastructure. The app is offline.<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="Hosting company changed plan/payment/resource using infrastructure and my apps are down for now."></span></span>
			</a>
		</div>
		<div class="col-sm-8 col-xs-12 resume-wrapper">
			<h4>Linked House</h4>
			<p>
				It's online storage for favorite links (bookmarks). <strong>Currently NOT supporting mobile browsers / devices</strong>, but I plan to integrate it with them.
			</p>
			<p>
				The development of this application is started long time ago and the arhitecture is not very well. It contains both good and bad code. Since client-side including only jQuery and the project isn't too small - it's not so easy for a single developer to make serious changes.
			</p>
			<p>
				Actually this is the fully rewritten project from scratch. The first project had almost the same idea, but it was started when my skills were on initial phase.
			</p>
			<p>
				Used technologies: <br>
				Server: PHP + Laravel 4 + MySQL <br>
				Client: jQuery
			</p>
		</div>	
	</div>
	
	<div class="col-xs-12 row work-item-row">
		<div class="col-sm-4 col-xs-12 link-wrapper">
			<a href="http://wcalc-ifch0o1webapps.rhcloud.com" target="_blank" class="link-image row">
				<img src="images/wcalc-prew.png" class="img-responsive col-xs-12 work-link-img">
				<span class="link-image-text text-danger-light">Redhat changed the infrastructure. The app is offline.<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="Hosting company changed plan/payment/resource using infrastructure and my apps are down for now."></span></span>
			</a>
		</div>
		<div class="col-sm-8 col-xs-12 resume-wrapper">
			<h4>Writing speed calculator</h4>
			<p>
				It's a little application which was made for less than 4 days. It just calculates typing speed and show results such as - characters / words per minute and scores. It uses jQuery and it's most client-side oriented. Results are not saved.
			</p>
		</div>	
	</div>

	<div class="col-xs-12 row work-item-row profiles-wrapper">
		<a href="http://stackoverflow.com/users/2367041/ifch0o1" target="_blank" class="link-image my-profile-icon-link">
			<img class="" src="images/dev-logos/stackoverflow-1.png">
		</a>
		<a href="https://github.com/ifch0o1" target="_blank" class="link-image my-profile-icon-link">
			<img class="" src="images/dev-logos/github-1.png">
		</a>
	</div>
</div>