body {
  background-color: #fff;
}
html, body { /* Disable horizontal scrollbar */
    max-width: 100%;
    overflow-x: hidden;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.text-light {
	color: #dadada;
}
.text-light-red {
	color: #FD9797;
}

.pad-20 {
	padding: 20px;
}
.pad-40 {
	padding: 40px;
}
.pad-80 {
	padding: 80px;
}
.pad-top-20 {
	padding-top: 20px;
}
.pad-top-40 {
	padding-top: 40px;
}
.pad-top-80 {
	padding-top: 80px;
}

.link-image {
	opacity: 0.8;
	position: relative;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}
.link-image:hover {
	opacity: 1;
	text-decoration: none;
}
.link-image > img {
	z-index: 1;
}
.link-image-text {
	z-index: 0;
	text-align: center;
	margin-top: 10px;
}
.link-image-text .glyphicon {
	margin-left: 5px;
	color: #000;
}
.work-item-row {
	margin-top: 40px;
}
.work-item-row .link-wrapper {
	text-align: center;
}
.work-item-row .resume-wrapper {
	margin-top: 13px;
}
.work-item-row.profiles-wrapper {
	text-align: center;
	margin-top: 40px;
}

.my-profile-icon-link {
	margin: 0 30px;
}

#header {
	background: url(/images/bg-5.jpg) no-repeat center;
	background-position: 0% 36%;
	border-radius: 0;
	color: white;
	text-shadow: 0px 0px 30px rgb(78, 78, 78);
	overflow: hidden;
}
#header h1, #header p {
	position: relative;
	z-index: 1;
}
#about-me {
	margin-top: 45px;
}

.generic-tab > span {
	width: 100%;
}
.generic-tab.active > span {
	background-color: #4D9CE0;
	border-color: #1088AC;
}

#section {
	background-color: rgb(231, 231, 231);
	padding: 20px inherit;
	background-image: url(/images/bg-4.jpg);
	background-position: center;
	/*min-height: 400px;*/
	margin-top: 40px;
}

.tab-content {
	background-color: rgba(255, 255, 255, 0.2);
}
.tab-content > div > ul { /* knowledge list style */
	list-style-type: circle;
}

.btn {
	border-radius: 0 !important;
}

.myself-image {
	height: 240px;
}

#footer {
	background-color: #424242;
	color: #D1D1D1;
	margin-top: 40px;
	padding-top: 40px;
}

.footer-glyph {
	font-size: 48px;
	color: #949494;
}