body {
  background-color: #fff;
}
html, body { /* Disable horizontal scrollbar */
    max-width: 100%;
    overflow-x: hidden;
}

#header {
	background: url(/images/bg-5.jpg) no-repeat center;
	background-position: 0% 36%;
	border-radius: 0;
	color: white;
	text-shadow: 0px 0px 30px rgb(78, 78, 78);
	overflow: hidden;
}
#header h1, #header p {
	position: relative;
	z-index: 1;
}

.generic-tab > span {
	width: 100%;
}
.generic-tab.active > span {
	background-color: #4D9CE0;
	border-color: #1088AC;
}

#section {
	background-color: rgb(231, 231, 231);
	padding: 20px inherit;
	background-image: url(/images/bg-4.jpg);
	background-position: center;
	/*min-height: 400px;*/
	margin-top: 40px;
}

.tab-content {
	background-color: rgba(255, 255, 255, 0.2);
}
.tab-content > div > ul { /* knowledge list style */
	list-style-type: circle;
}

.btn {
	border-radius: 0 !important;
}

.myself-image {
	height: 240px;
}