body {
  background-color: #fff;
}
html, body { /* Disable horizontal scrollbar */
    max-width: 100%;
    overflow-x: hidden;
}
.tooltip-inner {
    width: 350px; 
}

.vertical-align {
    display: flex;
    align-items: center;
}

.text-light {
	color: #dadada;
}
.text-light-red {
	color: #FD9797;
}

.pad-20 {
	padding: 20px;
}
.pad-40 {
	padding: 40px;
}
.pad-80 {
	padding: 80px;
}
.pad-top-20 {
	padding-top: 20px;
}
.pad-top-40 {
	padding-top: 40px;
}
.pad-top-80 {
	padding-top: 80px;
}

.link-image {
	opacity: 0.8;
	position: relative;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}
.link-image:hover {
	opacity: 1;
	text-decoration: none;
}
.link-image > img {
	z-index: 1;
	margin-bottom: 10px;
}
.link-image-text {
	z-index: 0;
	text-align: center;
}
.link-image-text .glyphicon {
	margin-left: 5px;
	color: #6EDBFF;
}
.work-item-row {
	margin-top: 40px;
}
.work-item-row .link-wrapper {
	text-align: center;
}
.work-item-row .resume-wrapper {
	margin-top: 13px;
}
.work-item-row.profiles-wrapper {
	text-align: center;
	margin-top: 40px;
}

.my-profile-icon-link {
	margin: 0 30px;
}

.text-success-light {
	color: #5CE05E;
}
.text-primary-light {
	color: #69CFFF;
}
.text-muted-light {
	color: #D2B0B0;
}
.text-danger-light {
	color: #FF8280;
}

#header {
	background: url(/images/patterns/4x2.png);
	border-top: 20px solid rgb(207, 108, 0);
	border-radius: 0;
	color: white;
	text-shadow: 0px 0px 30px rgb(78, 78, 78);
	overflow: hidden;
}
#header h1, #header p {
	position: relative;
	z-index: 1;
}
#about-me {
	margin-top: 45px;
}

.generic-tab > span.btn {
	width: 100%;
	color: #FFE4C4;
	background-color: #444349;
	border-color: #3B3B3B;
}

.generic-tab.active > span.btn {
	text-shadow: yellow 0px 0px 17px;
	color: #FFA200;
	background-color: #3E3D44;
	border-color: #363636;
}

#section {
	background: url(/images/patterns/8x2.png);
	padding: 20px inherit;
	/*min-height: 400px;*/
	margin-top: 40px;
	padding: 15px;
}

.tab-content {
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	color: #fff;
}
.tab-content > div > ul { /* knowledge list style */
	list-style-type: circle;
}

.btn {
	border-radius: 0 !important;
}

.myself-image {
	height: 240px;
}

#footer {
	background-color: #424242;
	color: #D1D1D1;
	padding-top: 40px;
	margin-top: 0px;
	background-color: #444349;
	border-top: 1px solid #525252;
}

.footer-glyph {
	font-size: 48px;
	color: #949494;
}