<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <div class="row contact-row vertical-align">
        <div class="col-xs-4">
            <a href="mailto:ifch0o69@gmail.com" target="_top" class="link-image">
                <img class="responsive-img" src="/images/dev-logos/mail.png">
            </a>
        </div>
        <div class="col-xs-8">
            <p>For faster response, You can contact me at: <a href="mailto:ifch0o69@gmail.com" target="_top">ifch0o69@gmail.com</a></p>
        </div>
    </div>
    <div class="row contact-row vertical-align">
        <div class="col-xs-4">
            <a href="https://plus.google.com/114966334894133009473/posts" class="link-image">
                <img class="responsive-img" src="/images/dev-logos/gplus.png">
            </a>
            
        </div>
        <div class="col-xs-8">
            <p>You can found me at google plus.</p>
        </div>
    </div>
    <div class="row contact-row vertical-align">
        <div class="col-xs-4">
            <a href="https://facebook.com/ifch0o1" class="link-image">
                <img class="responsive-img" src="/images/dev-logos/fb.png">
            </a>
        </div>
        <div class="col-xs-8">
            <p>I'm not using Facebook often. I doesn't really like it.</p>
        </div>
    </div>
    <div class="row contact-row vertical-align">
        <div class="col-xs-4">
            <a href="https://twitter.com/ifch0o1" class="link-image">
                <img class="responsive-img" src="/images/dev-logos/twitter.png">
            </a>
        </div>
        <div class="col-xs-8">
            <p>I'm using Twitter from time to time.</p>
        </div>
    </div>
</div>