<div class="col-xs-12">
	<h3>
		Motivation
	</h3>
	<p>
		My motivation is focused on web development and mobile development. I want to work / make <strong>cross-platform</strong> flexible applications / systems. Since now the JavaScript is so common, it helps a lot.
	</p>
	<p>
		I'm highly interested on learning new JavaScript frameworks/libraries. Also I plan to start learning <strong>Java</strong> and mobile development. <strong>Java</strong> is old technology and it has big community, since I know the basics of <strong>C#</strong> and <strong>OOP</strong> it will not be so difficult.
	</p>
	<p>
		I like to write server-side logic too. I'm familiar with some secirity issues as <strong>SQL Injection</strong> and <strong>Cross-site scripting (XSS)</strong>. <br/>
		I'm not best in databases, but I'm highly motivated and less experienced in developing server-side services such as <strong>RESTful APIs</strong> and <strong>CRUD operations</strong>.
	</p>
	<p>
		I am not limited to these things! I am interested in much more technologies and programming languages. And not only... I follow general IT issues and what's happening with the industry at all.
	</p>
	<p>
		I know it will take long time, but one day I will become a web engineer!
	</p>
	<p>
		Currently my published projects are too few. I have more suspended projects because of different reasons. They contains a lot of <strong>AngularJS / Node.js</strong> and <strong>MVC.</strong> I love Angular because it helps to develop rich applications easy.
	</p>
</div>